body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pro{
  position: absolute;
  padding: 5px;
  margin-top: -6px;
  color: rgb(255, 255, 255);
}
.progress{
  transition: 0.5s ease;
}
.progress:hover{
  transform: scale(1.1);
}